.weather-app-wrapper {
  border: 2px solid #596aca;
  margin: 20px auto;
  padding: 20px;
  /* max-width: 1200px;
  width: 70rem; */
  border-radius: 10px;
  background: #e0e9f1;
}
body {
  background: #aab0bb;
}
h1 {
  color: #42a5f5;
  text-align: center;
}
