.unit {
  font-size: 10px;
  position: relative;
  top: -12px;
  color: black;
}

.list-group-item-inner {
  list-style: none;
  margin: 0px 5px;
}

.current{
  padding-top: 40px;
}
.current-temp{
  padding-top: 40px;
}